<h3>Create Account</h3>
<form method="POST">
    <label for="name">Company Name</label>
    <input type="text" name="name" placeholder="Company Name" required>
    <label for="email">Email Address</label>
    <input type="email" name="email" placeholder="you@example.com" required>
    <label for="password" >Password</label>
    <input type="password" name="password" minlength="6", placeholder="Create a Password" required>
    <label for="contact">HR Contact</label>
    <input type="text" name="contact" placeholder="HR Contact" required>
    <label for="text">Website</label>
    <input type="text" name="website" placeholder="Website Link">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>